.highlight {
    text-shadow: 0 0 4px #2F2F2F;
}

/*.affix ul {
    margin-left: 7px;
    padding-left: 10px;
    list-style-type: none;
}*/

/*.affix a {
    color: #2F2F2F;
    border: 2px solid #A4A4A4;
    position: relative;
    border-radius: 5px;
    background-color: #D8D8D8;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
}*/